@import url("https://fonts.googleapis.com/css?family=Righteous");
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Poppins');

*{
    --display: flex;

    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* imagen */

.imagencontacto{
    width: 100%;
    margin-top: 2%;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

.cont-contacto {
    display: flex;
    margin-bottom: 5%;
}

/* Formulario */

.formulario{
    position: relative;
    /* top: 0; left: 0; */
    margin: 0 auto;
    width: 90%;
    border-radius: 5px;
    background-color: #dddddd;
    padding: 20px;
    margin-top: 20%;
  }
  
.formularios {
    width: 95%;
    margin: 0 auto;
    display: flex;
    margin-top: 65px;
    display: var(--display);
}
  
  .texto1{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 12px;
  }

  /* Diseño boton enviar en el formulario */
  
  .enviar{
    width: 100%;
    background-color: #3f888f;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
        
  }
  
  .enviar:hover{
    background-color: #578f94;
  }

  /* Diseño boton limpiar en el formulario */
  
  .reset{
    width: 100%;
    background-color: rgb(189, 6, 6);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .reset:hover{
      background-color: #d80202;
  }

/* Diseño mapa */

.mapa2 {
    width: 50%;
    margin: 0 auto;
    color: #1b5583;
    font-family: 'Poppins', sans-serif;
}

.mapa iframe {
    width: 100%;
}

.consulta {
    width: 50%;
    margin: 0 auto;
   
}

 .contactanos1{
    margin-top:-25%;
    font-size: 80px;
    color:white; 
    text-shadow: 3px 4px 3px rgba(0, 0, 0, 0.835);
    text-align: center;
 }

 .centro{
    font-size: 30px;
    color:white;
    font-weight:650; 
    text-shadow: 3px 2px 2px rgb(0, 0, 0);
    text-align: center;
 }

 .colormapa{
    background-color: #1b5583;
}


.map{
    margin-top: 23%; 
    color: #1b5583;
}



.mapita{
    margin-top: 9%;
}


/*Diseño responsive*/

/* Width 1000px*/

@media screen and (max-width:1000px) {
    .cont-contacto {
        display: flex;
    }
    /*barrainformacion*/
    

     .contactanos1{
        font-size: 50px;
     }
    
     .centro{
        font-size: 20px;
     } 
}

/* Width 800px*/

@media screen and (max-width: 800px) {
   
    /*barrainformacion*/
    
    .formularios {
        display: flex;
        flex-direction: column;

    }

    .formulario {
        width: 90%;
        margin: 0 auto;
    }

    .mapa2 {
        width: 90%;
        margin-top: -15%;
    }
    
    .consulta {
        width: 90%;
    }
 

    .formulario{
        margin-top: -5%;
        /* margin-bottom: 5%; */
      }

}

/* Width 700px*/

@media screen and (max-width: 700px) {
     .aliadas{
        margin-left: 15%;
    }

    .contactanos1{
        font-size: 40px;
     }
 } 

 @media screen and (max-width: 600px) {
    

     /* contactanos */
   
     /* .centro{
        font-size: 15px;
     } */



    .contenedorf {
        display: block;
     }
    
    .contenedorf h3 {
        font-size: 15px;
     }
    
    .f-contacto {
        width: 100%; 
        margin-bottom: 5%;
     }
    
    .f-buscanos {
        width: 100%;
        margin-bottom: 5%;  
     }
 } 

 @media screen and (max-width: 500px) {

    .contactanos1{
        font-size: 30px;
     }

 }

 

@media screen and (max-width: 400px) {
 
    .contactanos1{
        font-size: 22px;
     }
}
